.hero {
  background-color: #f6ddcc;
}
.hero-content-wrap {
  display: flex;
  //   gap: 90px;
  position: relative;
  z-index: 1;
}
.hero-title {
  font-family: "Shantell Sans", cursive;
  font-weight: 300;
  font-size: 100px;
  line-height: 126px;
  padding-top: 100px;
  padding-left: 140px;
  padding-right: 50px;

  //   position: absolute;
  //   z-index: 10;
}
.title-text {
  position: absolute;
  margin-left: 60px;
  font-family: "Marck Script", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 175px;
  line-height: 182px;
  text-align: right;
  color: #ffffff;
  //   transform: rotate(5.54deg);
}
.hero-img {
  //   margin-left: 730px;
  //   margin-right: 350px;
}
