.hero {
  background-color: #fbeee6;
}
.hero-content-wrap {
  display: flex;
  //   gap: 90px;
  position: relative;
  z-index: 1;
  background-image: url(../images/woman.png);
  background-repeat: no-repeat;
  background-position: 20px 200px;
}
.hero-title {
  font-family: "Shantell Sans", cursive;
  font-weight: 300;
  font-size: 90px;
  line-height: 126px;
  padding-top: 250px;
  padding-left: 10px;
  //   padding-right: 50px;

  //   position: absolute;
  //   z-index: 10;
}
.title-text {
  position: absolute;
  margin-left: 60px;
  font-family: "Marck Script", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 175px;
  line-height: 182px;
  text-align: right;
  color: #ffffff;
  top: 335px;
}
.hero-img {
  //   margin-left: 730px;
  //   margin-right: 350px;
}
